<div class="centerbox">
  <h1>Ponastavitev gesla</h1>

  <div class="card mat-elevation-z2">
    <p *ngIf="submitted">
      Če imamo v sistemu shranjenega uporabnika z elektronskim naslovom "{{
      emailVal
      }}" bomo v naslednjih nekaj minutah nanj poslali navodila za ponastavitev
      gesla.
    </p>

    <ng-container *ngIf="!submitted">
      <p>
        Za ponastavitev gesla vnesite email s katerim se prijavite v aplikacijo
        eFakture.
      </p>

      <form id="forgotForm" #form="ngForm" (ngSubmit)="onFormSubmit()">
        <mat-form-field>
          <mat-label>Email</mat-label>
          <input matInput type="email" [(ngModel)]="emailVal" name="email" #email="ngModel" required minlength="5"
            maxlength="255" />
          <mat-error *ngIf="email.invalid">
            <div *ngIf="email.errors?.required">Polje je obvezno.</div>
          </mat-error>
        </mat-form-field>

        <button mat-raised-button color="primary" form="forgotForm">
          Potrdi
        </button>
      </form>
    </ng-container>
  </div>

  <p><a routerLink="/sign-in">← Nazaj na prijavo</a></p>
</div>