<mat-toolbar>
  <mat-toolbar-row>
    <h2>Stranke</h2>
    <div class="fill_remaining_space"></div>
    <button
      mat-raised-button
      color="primary"
      (click)="onClientClick()"
      matTooltip="Nov zapis"
    >
      <mat-icon>add</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>

<div class="spinner_wrap" *ngIf="loading">
  <mat-progress-spinner
    color="primary"
    mode="indeterminate"
    diameter="32"
  ></mat-progress-spinner>
</div>

<ng-container *ngIf="!loading">
  <table
    mat-table
    [dataSource]="dataSource"
    class="full-width"
    *ngIf="dataSource.data.length > 0"
  >
    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef class="col_shrink">Tip</th>
      <td mat-cell *matCellDef="let data" class="col_shrink">
        {{ data.type }} -
        <span *ngIf="data.type === types.PERSON">Fizična oseba</span>
        <span *ngIf="data.type === types.PERSON_WITH_ACTIVITY">
          Fizična oseba z dejavnostjo
        </span>
        <span *ngIf="data.type === types.COMPANY">Pravna oseba</span>
      </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Naziv</th>
      <td mat-cell *matCellDef="let data">{{ data.fullName }}</td>
    </ng-container>

    <ng-container matColumnDef="btnUpdate">
      <th mat-header-cell *matHeaderCellDef class="col_shrink center"></th>
      <td mat-cell *matCellDef="let data" class="col_shrink center">
        <button
          mat-icon-button
          (click)="onClientClick(data)"
          matTooltip="Uredi"
        >
          <mat-icon>edit</mat-icon>
        </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="btnDelete">
      <th mat-header-cell *matHeaderCellDef class="col_shrink center"></th>
      <td mat-cell *matCellDef="let data" class="col_shrink center">
        <button
          mat-icon-button
          (click)="onDeleteClick(data)"
          matTooltip="Izbriši"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <div class="no_data" *ngIf="dataSource.data.length === 0">
    <mat-icon class="no_data_icon">help</mat-icon>
    <p>Razvidno je, da še niste vnesli nobene stranke.</p>
    <button mat-raised-button color="primary" (click)="onClientClick()">
      <mat-icon>add</mat-icon>
      Dodaj prvo stranko
    </button>
  </div>
</ng-container>
