<mat-toolbar mat-dialog-title>
  <mat-toolbar-row>
    <h2 *ngIf="!forced">Nastavitve</h2>
    <h2 *ngIf="forced">Vaše podjetje</h2>
    <div class="fill_remaining_space"></div>
    <button mat-raised-button color="primary" form="settingsForm">
      <mat-icon>save</mat-icon>
      Shrani
    </button>
  </mat-toolbar-row>
</mat-toolbar>

<div mat-dialog-content>
  <div class="spinner_wrap" *ngIf="loading">
    <mat-progress-spinner color="primary" mode="indeterminate" diameter="32">
    </mat-progress-spinner>
  </div>

  <ng-container *ngIf="!loading">
    <p *ngIf="forced" style="margin-top: 0;">
      Preden lahko nadaljujete morate izpolniti podatke o vašem podjetju, saj
      brez teh izdaja faktur ni mogoča.
    </p>

    <form
      *ngIf="data"
      id="settingsForm"
      #form="ngForm"
      (ngSubmit)="onFormSubmit()"
    >
      <mat-accordion>
        <mat-expansion-panel [expanded]="true">
          <mat-expansion-panel-header>
            <mat-panel-title>Uporabnik</mat-panel-title>
          </mat-expansion-panel-header>
          <div class="app-form-row">
            <mat-form-field>
              <mat-label>Ime</mat-label>
              <input
                matInput
                [(ngModel)]="data.firstName"
                name="firstName"
                #firstName="ngModel"
                required
                maxlength="255"
              />
              <mat-error *ngIf="firstName.invalid">
                <div *ngIf="firstName.errors.required">
                  Polje je obvezno.
                </div>
              </mat-error>
            </mat-form-field>
            <mat-form-field>
              <mat-label>Priimek</mat-label>
              <input
                matInput
                [(ngModel)]="data.lastName"
                name="lastName"
                #lastName="ngModel"
                required
                maxlength="255"
              />
              <mat-error *ngIf="lastName.invalid">
                <div *ngIf="lastName.errors.required">
                  Polje je obvezno.
                </div>
              </mat-error>
            </mat-form-field>
          </div>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>Osnovno</mat-panel-title>
          </mat-expansion-panel-header>
          <div class="app-form-row">
            <mat-form-field>
              <mat-label>Naziv podjetja</mat-label>
              <input
                matInput
                [(ngModel)]="data.company.name"
                name="name"
                #name="ngModel"
                required
                maxlength="255"
              />
              <mat-error *ngIf="name.invalid">
                <div *ngIf="name.errors.required">
                  Polje je obvezno.
                </div>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="app-form-row">
            <mat-form-field>
              <mat-label>Naslov</mat-label>
              <input
                matInput
                [(ngModel)]="data.company.address"
                name="address"
                #address="ngModel"
                required
                maxlength="255"
              />
              <mat-error *ngIf="address.invalid">
                <div *ngIf="address.errors.required">
                  Polje je obvezno.
                </div>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="app-form-row">
            <mat-form-field style="max-width: 140px;">
              <mat-label>Poštna številka</mat-label>
              <input
                matInput
                [(ngModel)]="data.company.postalCode"
                name="postalCode"
                #postalCode="ngModel"
                required
                maxlength="10"
              />
              <mat-error *ngIf="postalCode.invalid">
                <div *ngIf="postalCode.errors.required">
                  Polje je obvezno.
                </div>
              </mat-error>
            </mat-form-field>
            <mat-form-field>
              <mat-label>Pošta</mat-label>
              <input
                matInput
                [(ngModel)]="data.company.postalOffice"
                name="postalOffice"
                #postalOffice="ngModel"
                required
                maxlength="255"
              />
              <mat-error *ngIf="postalOffice.invalid">
                <div *ngIf="postalOffice.errors.required">
                  Polje je obvezno.
                </div>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="app-form-row">
            <mat-form-field>
              <mat-label>Država</mat-label>
              <input
                matInput
                [(ngModel)]="data.company.country"
                name="country"
                name="country"
                #country="ngModel"
                required
                maxlength="60"
              />
              <mat-error *ngIf="country.invalid">
                <div *ngIf="country.errors.required">
                  Polje je obvezno.
                </div>
              </mat-error>
            </mat-form-field>
          </div>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>Davčna</mat-panel-title>
          </mat-expansion-panel-header>
          <div class="app-form-row">
            <mat-checkbox
              color="primary"
              class="is-tax-payer"
              [(ngModel)]="data.company.isTaxPayer"
              name="isTaxPayer"
              >Zavezanec za DDV
            </mat-checkbox>
          </div>
          <div class="app-form-row">
            <mat-form-field>
              <mat-label>
                <span [hidden]="!data.company.isTaxPayer">ID za DDV</span>
                <span [hidden]="data.company.isTaxPayer">Davčna številka</span>
              </mat-label>
              <input
                matInput
                [(ngModel)]="data.company.taxId"
                name="taxId"
                #taxId="ngModel"
                required
                maxlength="20"
              />
              <mat-error *ngIf="taxId.invalid">
                <div *ngIf="taxId.errors.required">
                  Polje je obvezno.
                </div>
              </mat-error>
            </mat-form-field>
            <mat-form-field>
              <mat-label>Matična številka</mat-label>
              <input
                matInput
                [(ngModel)]="data.company.regNo"
                name="regNo"
                maxlength="50"
              />
            </mat-form-field>
          </div>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>Bančni račun</mat-panel-title>
          </mat-expansion-panel-header>
          <div class="app-form-row">
            <mat-form-field>
              <mat-label>IBAN</mat-label>
              <input
                matInput
                [(ngModel)]="data.company.bankTRR"
                name="bankTRR"
                #iban="ngModel"
                required
                appIbanValidator
              />
              <mat-error *ngIf="iban.invalid">
                <div *ngIf="iban.errors.required; else ibanError2">
                  Polje je obvezno.
                </div>
                <ng-template #ibanError2>
                  <div *ngIf="iban.errors.iban">IBAN ni veljavne oblike.</div>
                </ng-template>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="app-form-row">
            <mat-form-field>
              <mat-label>Naziv banke</mat-label>
              <input
                matInput
                [(ngModel)]="data.company.bankName"
                name="bankName"
                #bankName="ngModel"
                required
                maxlength="255"
              />
              <mat-error *ngIf="bankName.invalid">
                <div *ngIf="bankName.errors.required">
                  Polje je obvezno.
                </div>
              </mat-error>
            </mat-form-field>
            <mat-form-field>
              <mat-label>BIC</mat-label>
              <input
                matInput
                [(ngModel)]="data.company.bankBIC"
                name="bankBIC"
                #bic="ngModel"
                required
                appBicValidator
              />
              <mat-error *ngIf="bic.invalid">
                <div *ngIf="bic.errors.required; else bicError2">
                  Polje je obvezno.
                </div>
                <ng-template #bicError2>
                  <div *ngIf="bic.errors.bic">BIC ni veljavne oblike.</div>
                </ng-template>
              </mat-error>
            </mat-form-field>
          </div>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>Kontakt</mat-panel-title>
          </mat-expansion-panel-header>
          <div class="app-form-row">
            <mat-form-field>
              <mat-label>E-poštni naslov</mat-label>
              <input
                matInput
                [(ngModel)]="data.company.email"
                name="email"
                maxlength="320"
              />
            </mat-form-field>
            <mat-form-field>
              <mat-label>Spletna stran</mat-label>
              <input
                matInput
                [(ngModel)]="data.company.website"
                name="website"
                maxlength="512"
              />
            </mat-form-field>
          </div>
          <div class="app-form-row">
            <mat-form-field>
              <mat-label>Telefonska številka</mat-label>
              <input
                matInput
                [(ngModel)]="data.company.phone"
                name="phone"
                maxlength="20"
              />
            </mat-form-field>
            <mat-form-field>
              <mat-label>Faks</mat-label>
              <input
                matInput
                [(ngModel)]="data.company.fax"
                name="fax"
                maxlength="20"
              />
            </mat-form-field>
          </div>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>Oblikovanje računov</mat-panel-title>
          </mat-expansion-panel-header>
          <div class="app-form-row">
            <mat-checkbox
              color="primary"
              style="padding-bottom: 15px;"
              [(ngModel)]="data.accounting.yearShort"
              name="accountingTwoDigitYear"
            >
              Dvomestna letnica
            </mat-checkbox>
          </div>
          <div class="app-form-row">
            <mat-form-field>
              <mat-label>Obračunsko leto</mat-label>
              <input
                matInput
                type="number"
                [(ngModel)]="data.accounting.year"
                name="accountingYear"
                #accountingYear="ngModel"
                required
              />
              <mat-error *ngIf="accountingYear.invalid">
                <div *ngIf="accountingYear.errors.required">
                  Polje je obvezno.
                </div>
              </mat-error>
            </mat-form-field>
            <mat-form-field>
              <mat-label>Dolžina številke računa</mat-label>
              <input
                matInput
                type="number"
                [(ngModel)]="data.accounting.seqLength"
                name="accountingLen"
                #accountingLen="ngModel"
                required
              />
              <mat-error *ngIf="accountingLen.invalid">
                <div *ngIf="accountingLen.errors.required">
                  Polje je obvezno.
                </div>
              </mat-error>
            </mat-form-field>
            <mat-form-field>
              <mat-label>Naslednja številka računa</mat-label>
              <input
                matInput
                type="number"
                [(ngModel)]="data.accounting.seq"
                name="seq"
                required
              />
              <mat-error *ngIf="accountingLen.invalid">
                <div *ngIf="accountingLen.errors.required">
                  Polje je obvezno.
                </div>
              </mat-error>
            </mat-form-field>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
      <p></p>
    </form>
  </ng-container>
</div>
