<mat-toolbar mat-dialog-title>
  <mat-toolbar-row>
    <h1>
      <ng-container *ngIf="data.select">
        Postavka
      </ng-container>
      <ng-container *ngIf="!data.select">
        <ng-container *ngIf="data.type === types.ITEM">Izdelek</ng-container>
        <ng-container *ngIf="data.type === types.SERVICE">Storitev</ng-container>
      </ng-container>
    </h1>
    <div class="fill_remaining_space"></div>
    <button mat-button color="warn" (click)="onCancelClick()">Prekliči</button>
    <button mat-raised-button color="primary" form="itemForm">
      Shrani
    </button>
  </mat-toolbar-row>
</mat-toolbar>

<div mat-dialog-content>
  <mat-progress-spinner *ngIf="!data.item"></mat-progress-spinner>
  <form *ngIf="data.item" id="itemForm" #form="ngForm" (ngSubmit)="onFormSubmit()">
    <div class="app-form-row" *ngIf="data.select">
      <mat-form-field>
        <mat-label>Izbor iz šifranta</mat-label>
        <mat-select>
          <mat-option *ngFor="let selectItem of itemsDataSource" [value]="selectItem"
                      (onSelectionChange)="onItemSelectionChange($event)">
            {{ selectItem.combinedNameModel }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="app-form-row" *ngIf="data.select">
      <mat-form-field class="narrow">
        <mat-label>Tip</mat-label>
        <mat-select [(ngModel)]="data.item.type" name="type">
          <mat-option [value]="types.ITEM">Izdelek</mat-option>
          <mat-option [value]="types.SERVICE">Storitev</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="app-form-row">
      <mat-form-field class="narrow">
        <mat-label>Oznaka</mat-label>
        <input matInput [(ngModel)]="data.item.code" name="code" maxlength="20"/>
      </mat-form-field>
    </div>
    <div class="app-form-row">
      <mat-form-field>
        <mat-label>Naziv</mat-label>
        <input matInput [(ngModel)]="data.item.name" name="name" required maxlength="255" #name="ngModel"/>
        <mat-error *ngIf="name.invalid">
          <div *ngIf="name.errors.required">Naziv je obvezen.</div>
        </mat-error>
      </mat-form-field>
    </div>
    <div class="app-form-row">
      <mat-form-field>
        <mat-label>Opis</mat-label>
        <textarea matInput [(ngModel)]="data.item.description" name="description" maxlength="2048" rows="5"></textarea>
      </mat-form-field>
    </div>
    <div class="app-form-row">
      <mat-form-field class="narrow">
        <mat-label>Enota merjenja</mat-label>
        <input matInput [(ngModel)]="data.item.unit" name="unit" required maxlength="20" #unit="ngModel"/>
        <mat-error *ngIf="unit.invalid">
          <div *ngIf="unit.errors.required">Enota merjenja je obvezna.</div>
        </mat-error>
      </mat-form-field>
    </div>
    <div class="app-form-row">
      <mat-form-field class="narrow">
        <mat-label>
          <ng-container *ngIf="data.select; else defaultQuantity">Količina</ng-container>
          <ng-template #defaultQuantity>Privzeta količina</ng-template>
        </mat-label>
        <input matInput type="number" step="0.01" lang="sl-SI" [(ngModel)]="data.item.quantity" name="quantity" required
               #quantity="ngModel"/>
        <mat-error *ngIf="quantity.invalid">
          <div *ngIf="quantity.errors.required">
            Količina je obvezna.
          </div>
        </mat-error>
      </mat-form-field>
    </div>
    <div class="app-form-row">
      <mat-form-field class="narrow">
        <mat-label>Cena v € brez DDV</mat-label>
        <input matInput type="number" step="0.01" lang="sl-SI" [(ngModel)]="data.item.price" name="price" required
               #price="ngModel"/>
        <mat-error *ngIf="price.invalid">
          <div *ngIf="price.errors.required">
            Cena je obvezna.
          </div>
        </mat-error>
      </mat-form-field>
    </div>
    <div class="app-form-row">
      <mat-form-field class="narrow">
        <mat-label>
          <ng-container *ngIf="data.select; else defaultTax">Davek v %</ng-container>
          <ng-template #defaultTax>Privzet davek v %</ng-template>
        </mat-label>
        <input matInput type="number" step="0.01" lang="sl-SI" [(ngModel)]="data.item.tax" name="tax" required
               #tax="ngModel"/>
        <mat-error *ngIf="tax.invalid">
          <div *ngIf="tax.errors.required">
            Davek je obvezen.
          </div>
        </mat-error>
      </mat-form-field>
    </div>
    <div class="app-form-row">
      <mat-form-field class="narrow">
        <mat-label>
          <ng-container *ngIf="data.select; else defaultDiscount">Rabat v %</ng-container>
          <ng-template #defaultDiscount>Privzet rabat v %</ng-template>
        </mat-label>
        <input matInput type="number" step="0.01" lang="sl-SI" [(ngModel)]="data.item.discount" name="discount" required
               #discount="ngModel"/>
        <mat-error *ngIf="discount.invalid">
          <div *ngIf="discount.errors.required">
            Rabat je obvezen.
          </div>
        </mat-error>
      </mat-form-field>
    </div>
    <p></p>
  </form>
</div>
