<div class="centerbox">
    <h1>Pogoji uporabe</h1>

    <div class="card mat-elevation-z2">
        <p><em>Zadnja posodobitev: 16.12.2020</em></p>

        <p>
            eFakture (v nadaljevanju aplikacija) je <a href="https://github.com/erikvimz/efakture">odprtokodna spletna
                aplikacija</a>, ki za svoje delovanje uporablja <a href="https://firebase.google.com">Google
                Firebase</a>. Vsi podatki, ki so vnešeni v naš sistem so gostovani na Google-ovih strežnikih
            (europe-west3) v Frankfurt-u.
        </p>

        <p>
            Aplikacija specifično uporablja <a href="https://firebase.google.com/docs/firestore/">Firestore</a>, <a
                href="https://firebase.google.com/docs/auth/">Authentication</a> in <a
                href="https://firebase.google.com/docs/analytics/">Analytics</a> produkte iz zbirke <a
                href="https://firebase.google.com">Firebase</a>. Ti produkti za pravilno delovanje uporabljajo piškotke
            katerih ni možno ugasniti. Z nadaljno uporabo aplikacije se strinjate s temi piškotki. Aplikacija prav tako
            o vas zbira tudi informacije kot je vaš email in geslo, katere uporabljate pri prijavi v aplikacijo.
        </p>

        <p>
            Aplikacija o vas zbira le tiste podatke, ki jih ročno vnesete ob uporabi aplikacije. Ti podatki pod
            nikakršnim pogojem na zapustijo <a href="https://firebase.google.com/docs/firestore/">Firestore</a> baze v
            katerih so gostovani.
        </p>

        <p>
            Za več informacij o uporabi <a href="https://firebase.google.com">Firebase</a> produktov si preberite <a
                href="https://firebase.google.com/terms/">uradne pogoje uporabe</a>.
        </p>
    </div>

    <p><a routerLink="/">← Nazaj na prvo stran</a></p>
</div>