<div class="centerbox">
  <h1>Pravno obvestilo</h1>

  <div class="card mat-elevation-z2">
    <p><em>Zadnja posodobitev: 18.10.2021</em></p>

    <h2>Pravice intelektualne lastnine</h2>

    <p>Spletno mesto je za namen tega pravnega obvestila pojem, ki zajema vse spletne strani na spletnem naslovu
      {{website}} (v nadaljevanju: Spletno mesto).</p>

    <p>Imetnik avtorskih pravic na vseh avtorskih delih, ki so na kakršenkoli način vključeni v Spletno mesto je
      {{company}}.</p>

    <p>Vse pravice pridržane. Uporabnik lahko uporablja vsebine na Spletnem mestu izključno za svojo osebno, to je
      nekomercialno rabo. Vsaka druga oblika uporabe vsebin Spletnega mesta (kot je npr. kopiranje, reproduciranje,
      distribuiranje in podobno) v komercialne namene je prepovedana.</p>

    <h2>Omejitev uporabe informacij in gradiv</h2>

    <p>Informacije in gradiva, ki so prikazana na tem Spletnem mestu, lahko uporabnik naloži iz strežnika za svojo
      osebno, domačo rabo, pri čemer ne sme spreminjati označb avtorskih pravic, drugih obvestil o pravicah
      intelektualne lastnine ali obvestil o drugih pravicah. Dovoljeno je nalaganje in tiskanje informacij in gradiv z
      namenom ogledovanja in branja za nekomercialne namene. Vsako drugo kopiranje, distribuiranje, ponovno objavljanje,
      spreminjanje informacij in gradiv na {{website}} ali njihovo pošiljanje po pošti ter razširjanje na kakršenkoli
      drug način brez predhodnega pisnega dovoljenja, je prepovedano. Prav tako je prepovedana uporaba kateregakoli
      elementa {{website}} za kakršnekoli druge namene, kot za izključno osebno, nekomercialno, domačo rabo.</p>

    <p>{{company}} ne odgovarja za obliko in vsebino spletnega mesta, ki so na kakršenkoli način povezane s spletnim
      mestom {{website}}. Pri obisku in uporabi povezanih spletnih mest je odgovornost {{company}} za vse primere
      izključena.</p>

    <h2>Omejitev odgovornosti</h2>

    <p>{{company}} se bo trudilo, da bodo podatki na Spletnem mestu pravilni in ažurni, vendar ne {{company}} niti druga
      pravna ali fizična oseba, ki je sodelovala pri izdelavi Spletnega mesta ali še sodeluje pri nadgradnjah Spletnega
      mesta ne more biti odgovorna za navadno škodo ali izgubljeni dobiček ali nepremoženjsko škodo, ki bi lahko
      uporabniku nastala zaradi uporabe Spletnega mesta ali nezmožnosti uporabe le-tega.</p>

    <p>{{company}} se bo trudila za nemoteno delovanje Spletnega mesta, vendar ne more biti odgovorna za navadno škodo
      ali izgubljeni dobiček ali nepremoženjsko škodo, ki bi lahko uporabniku nastala zaradi motenega delovanja
      Spletnega mesta.</p>

    <p>{{company}} lahko kadarkoli brez predhodnega obvestila spremeni Spletno mesto.</p>

    <h2>Varstvo osebnih podatkov</h2>

    <p>Kakršnekoli podatke, ki jih {{company}} pridobi na kakršenkoli način preko Spletnega mesta, so namenjeni
      izključno za interno rabo in jih {{company}} varuje v skladu z Zakonom o varstvu osebnih podatkov (Ur. list RS št.
      59/1999, 57/2001, 59/2001) in Obligacijskem zakoniku.</p>

    <h2>Splošno</h2>

    <p>Za morebitne spore iz naslova uporabe Spletnega mesta se uporabi slovenska zakonodaja. Za rešitev morebitnih
      sporov je pristojno sodišče v {{post}}.</p>

    <p>Z uporabo Spletnega mesta uporabnik potrjuje, da je sprejel tu opisane pogoje in da se z njimi strinja.</p>
  </div>

  <p><a routerLink="/">← Nazaj na prvo stran</a></p>
</div>