<div class="centerbox">
  <h1>Pogoji uporabe</h1>

  <div class="card mat-elevation-z2">
    <p><em>Zadnja posodobitev: 17.12.2020</em></p>

    <h2>Splošno</h2>

    <p>
      eFakture (v nadaljevanju aplikacija) je brezplačna <a
      href="https://github.com/erikvimz/efakture">odprtokodna spletna
      aplikacija</a>, ki za svoje delovanje uporablja <a href="https://firebase.google.com">Google
      Firebase</a>. Vsi podatki, vnešeni v naš sistem, so gostovani na <a
      href="https://www.google.com">Google</a> strežnikih
      (europe-west3) v Frankfurtu.
    </p>

    <p>
      Aplikacija uporablja <a href="https://firebase.google.com/docs/firestore/">Firestore</a>, <a
      href="https://firebase.google.com/docs/auth/">Authentication</a> in <a
      href="https://firebase.google.com/docs/analytics/">Analytics</a> produkte iz zbirke <a
      href="https://firebase.google.com">Firebase</a>. Ti produkti za pravilno delovanje uporabljajo piškotke
      katerih ni možno ugasniti. Z nadaljno uporabo aplikacije se strinjate s temi piškotki. Firebase prav tako
      o vas zbira informacije kot je vaš email in geslo, katere uporabljate pri prijavi.
    </p>

    <p>
      Aplikacija o vas zbira le tiste podatke, ki jih ročno vnesete ob direktni uporabi. Ti podatki pod
      nikakršnim pogojem na zapustijo <a href="https://firebase.google.com/docs/firestore/">Firestore</a> baze v
      kateri so gostovani.
    </p>

    <p>
      Za več informacij o uporabi <a href="https://firebase.google.com">Firebase</a> produktov si preberite <a
      href="https://firebase.google.com/terms/">uradne pogoje uporabe</a>.
    </p>

    <p>
      Aplikacija nima jamstva zato je uporaba aplikacije na lastno odgovornost.
    </p>

    <h2>MIT License</h2>

    <p>Copyright (c) 2020 Erik Kralj</p>

    <p>Permission is hereby granted, free of charge, to any person obtaining a copy
      of this software and associated documentation files (the "Software"), to deal
      in the Software without restriction, including without limitation the rights
      to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
      copies of the Software, and to permit persons to whom the Software is
      furnished to do so, subject to the following conditions:</p>

    <p>The above copyright notice and this permission notice shall be included in all
      copies or substantial portions of the Software.</p>

    <p>THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
      IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
      FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
      AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
      LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
      OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
      SOFTWARE.</p>

  </div>

  <p><a routerLink="/">← Nazaj na prvo stran</a></p>
</div>
