<div style="text-align:right">
  <button [hidden]="!user" mat-button [matMenuTriggerFor]="menu">
    <mat-icon>account_circle</mat-icon>
    {{ user?.email }}
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="onSignOutClick()">Odjava</button>
  </mat-menu>
</div>

<div class="centerbox" *ngIf="ready">
  <h1>Nastavitve</h1>

  <div class="card mat-elevation-z2">
    <p style="margin-top: 0;">
      Preden lahko nadaljujete morate izpolniti podatke o vašem podjetju, saj
      brez teh izdaja faktur ni mogoča.
    </p>

    <app-settings [forced]="true"></app-settings>
  </div>
</div>