<mat-toolbar>
  <mat-toolbar-row>
    <h2>
      <ng-container *ngIf="type === types.INVOICE">Računi</ng-container>
      <ng-container *ngIf="type === types.OFFER">Ponudbe</ng-container>
      <ng-container *ngIf="type === types.PRE">Predračuni</ng-container>
    </h2>
    <div class="fill_remaining_space"></div>
    <button mat-raised-button color="primary" (click)="onInvoiceClick()" matTooltip="Nov zapis">
      <mat-icon>add</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>

<div class="spinner_wrap" *ngIf="loading">
  <mat-progress-spinner color="primary" mode="indeterminate" diameter="32">
  </mat-progress-spinner>
</div>

<ng-container *ngIf="!loading">
  <div class="filter">
    <span>Prikaz:</span>
    <mat-radio-group (change)="onFilterChange($event)">
      <mat-radio-button value="ALL" checked>Vse</mat-radio-button>
      <mat-radio-button value="3_MONTHS">Zadnje 3 mesece</mat-radio-button>
      <mat-radio-button value="6_MONTHS">Zadnjih 6 mesecev</mat-radio-button>
      <mat-radio-button value="12_MONTHS">Zadnjih 12 mesecev</mat-radio-button>
    </mat-radio-group>
  </div>

  <table mat-table [dataSource]="dataSource" class="full-width" *ngIf="dataSource.data.length > 0">
    <ng-container matColumnDef="accountNo">
      <th mat-header-cell *matHeaderCellDef class="col_shrink">
        Št.
      </th>
      <td mat-cell *matCellDef="let data" class="col_shrink">
        {{ data.accNo }}
      </td>
      <td mat-footer-cell *matFooterCellDef class="col_shrink"></td>
    </ng-container>

    <ng-container matColumnDef="client">
      <th mat-header-cell *matHeaderCellDef>Stranka</th>
      <td mat-cell *matCellDef="let data">
        {{ data.client.fullName }}
      </td>
      <td mat-footer-cell *matFooterCellDef>
        Skupaj
      </td>
    </ng-container>

    <ng-container matColumnDef="netAmount">
      <th mat-header-cell *matHeaderCellDef class="col_shrink right">Neto</th>
      <td mat-cell *matCellDef="let data" class="col_shrink right">
        {{ data.netAmount | number: "1.2-2" }}
      </td>
      <td mat-footer-cell *matFooterCellDef class="col_shrink right">
        {{ sum.netAmount | number: "1.2-2" }}
      </td>
    </ng-container>

    <ng-container matColumnDef="discountAmount">
      <th mat-header-cell *matHeaderCellDef class="col_shrink right">Rabat</th>
      <td mat-cell *matCellDef="let data" class="col_shrink right">
        {{ data.discountAmount | number: "1.2-2" }}
      </td>
      <td mat-footer-cell *matFooterCellDef class="col_shrink right">
        {{ sum.discountAmount | number: "1.2-2" }}
      </td>
    </ng-container>

    <ng-container matColumnDef="taxAmount">
      <th mat-header-cell *matHeaderCellDef class="col_shrink right">DDV</th>
      <td mat-cell *matCellDef="let data" class="col_shrink right">
        {{ data.taxAmount | number: "1.2-2" }}
      </td>
      <td mat-footer-cell *matFooterCellDef class="col_shrink right">
        {{ sum.taxAmount | number: "1.2-2" }}
      </td>
    </ng-container>

    <ng-container matColumnDef="grossAmount">
      <th mat-header-cell *matHeaderCellDef class="col_shrink right">Bruto</th>
      <td mat-cell *matCellDef="let data" class="col_shrink right">
        {{ data.grossAmount | number: "1.2-2" }}
      </td>
      <td mat-footer-cell *matFooterCellDef class="col_shrink right">
        {{ sum.grossAmount | number: "1.2-2" }}
      </td>
    </ng-container>

    <ng-container matColumnDef="btnPayments">
      <th mat-header-cell *matHeaderCellDef class="col_shrink center"></th>
      <td mat-cell *matCellDef="let data" class="col_shrink center">
        <button mat-icon-button (click)="onPaymentsClick(data)" matTooltip="Evidenca plačil">
          <mat-icon>payment</mat-icon>
        </button>
      </td>
      <td mat-footer-cell *matFooterCellDef class="col_shrink"></td>
    </ng-container>

    <ng-container matColumnDef="btnPdf">
      <th mat-header-cell *matHeaderCellDef class="col_shrink center"></th>
      <td mat-cell *matCellDef="let data" class="col_shrink center">
        <button mat-icon-button (click)="onPdfClick(data)" class="pdf_generating"
                matTooltip="Prenesi račun v PDF obliki">
          <mat-icon *ngIf="!data.pdfGenerating">cloud_download</mat-icon>
          <mat-progress-spinner color="primary" mode="indeterminate" diameter="24" *ngIf="data.pdfGenerating">
          </mat-progress-spinner>
        </button>
      </td>
      <td mat-footer-cell *matFooterCellDef class="col_shrink"></td>
    </ng-container>

    <ng-container matColumnDef="btnUpdate">
      <th mat-header-cell *matHeaderCellDef class="col_shrink"></th>
      <td mat-cell *matCellDef="let data" class="col_shrink">
        <button mat-icon-button (click)="onInvoiceClick(data)" matTooltip="Uredi">
          <mat-icon>edit</mat-icon>
        </button>
      </td>
      <td mat-footer-cell *matFooterCellDef class="col_shrink"></td>
    </ng-container>

    <ng-container matColumnDef="btnDelete">
      <th mat-header-cell *matHeaderCellDef class="col_shrink"></th>
      <td mat-cell *matCellDef="let data" class="col_shrink">
        <button mat-icon-button (click)="onDeleteClick(data)" matTooltip="Izbriši">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
      <td mat-footer-cell *matFooterCellDef class="col_shrink"></td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
  </table>

  <div class="no_data" *ngIf="dataSource.data.length === 0">
    <mat-icon class="no_data_icon">help</mat-icon>
    <p *ngIf="type === types.INVOICE">Razvidno je, da še niste vnesli nobenega računa.</p>
    <p *ngIf="type === types.OFFER">Razvidno je, da še niste vnesli nobene ponudbe.</p>
    <p *ngIf="type === types.PRE">Razvidno je, da še niste vnesli nobenega predračuna.</p>
    <button mat-raised-button color="primary" (click)="onInvoiceClick()">
      <mat-icon>add</mat-icon>
      <ng-container *ngIf="type === types.INVOICE">Dodaj prvi računi</ng-container>
      <ng-container *ngIf="type === types.OFFER">Dodaj prvo ponudbo</ng-container>
      <ng-container *ngIf="type === types.PRE">Dodaj prvi predračun</ng-container>
    </button>
  </div>
</ng-container>
