.body {
  text-align: center;
}

.eat-them-cookies,
footer {
  position: fixed;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
}

.eat-them-cookies {
  background-color: #3f51b5;
  color: white;
  top: 0;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

main > button {
  text-transform: uppercase;
}

footer {
  bottom: 0;
}
