.body {
  text-align: center;
}

.cookie-law,
footer {
  position: fixed;
  left: 0;
  right: 0;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cookie-law {
  background-color: #1a5784;
  color: white;
  top: 0;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

main > button {
  text-transform: uppercase;
}

footer {
  bottom: 0;
}
