<div class="body">

  <p class="cookie-law">
    Spletna stran uporablja piškotke, kateri so obvezni za pravilno delovanje sistema. Z nadaljno uporabo spletne
    strani se strinjate z uporabo piškotkov.
  </p>

  <main>
    <h1>eFakture</h1>
    <p>Spletna aplikacija za enostavno izdajanje računov.</p>
    <button mat-raised-button color="primary" [routerLink]="continueUrl">Vstop v aplikacijo</button>
  </main>

  <footer>
    <p>2020 <a href="https://www.linkedin.com/in/erikvimz/">Erik Kralj</a> · to je
      <a href="https://github.com/erikvimz/efakture">odprtokodni projekt</a> gostovan na <a
        href="https://firebase.google.com">Google Firebase</a> · verzija: {{ version }} · <a routerLink="/terms">pravno
        obvestilo</a>
    </p>
  </footer>
</div>