/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

[hidden],
.mat-form-field[hidden] {
  display: none;
}

table.full-width {
  width: 100%;
}

.mat-toolbar .fill_remaining_space {
  flex: 1 1 auto;
}

fieldset.form_fieldset {
  padding: 0;
  border: 0;
  margin: 0;
}

fieldset.form_fieldset legend {
  padding: 10px 0;
  width: 100%;
  border-bottom: 1px solid black;
  background-color: rgba(0, 0, 0, 0.1);
  margin-bottom: 15px;
}

.no_data {
  text-align: center;
  padding: 30px 0;
}

.no_data_icon {
  font-size: 64px;
  color: rgba(0, 0, 0, 0.2);
}

.no_data_icon.mat-icon {
  width: 64px;
  height: 64px;
}

.spinner_wrap {
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

.standard_form .mat-form-field {
  display: block;
}

.standard_form .mat-form-field[hidden] {
  display: none;
}

.mat_table_button {
  width: 64px;
}

.mat_table_col_shrink {
  width: 1%;
  padding: 0 5px;
  white-space: nowrap;
}

th.mat-header-cell.col_shrink,
td.mat-cell.col_shrink,
td.mat-footer-cell.col_shrink {
  width: 1%;
  padding: 0 8px;
  white-space: nowrap;
}

th.mat-header-cell.col_shrink.right,
td.mat-cell.col_shrink.right,
td.mat-footer-cell.col_shrink.right {
  text-align: right;
}

th.mat-header-cell.col_shrink.center,
td.mat-cell.col_shrink.center,
td.mat-footer-cell.col_shrink.center {
  text-align: center;
}

.decimal_input input {
  text-align: right;
}

.mat-form-field {
  width: 100%;
}

.app-form-row {
  display: flex;
  justify-content: space-between;
}

.app-form-row mat-form-field {
  width: initial;
  flex: 1;
}

.app-form-row mat-form-field {
  margin: 0 8px;
}

.app-form-row mat-form-field:first-child {
  margin-left: 0;
}

.app-form-row mat-form-field:last-child {
  margin-right: 0;
}

.app-form-row .mat-form-field-infix {
  width: initial;
}

.app-form-row mat-form-field.narrow {
  max-width: 180px;
}

.app-form-row button {
  max-height: 64px;
}

.center-contents {
  display: flex;
  justify-content: center;
  align-items: center;
}

.centerbox {
  margin: auto;
  max-width: 400px;
  padding: 50px 0;
}

.centerbox > h1 {
  text-align: center;
}

.centerbox > footer {
  text-align: center;
}

.centerbox > .card {
  padding: 15px;
  background-color: white;
  margin: 50px 0;
}

.centerbox > .card > .options > button {
  width: 100%;
  margin-bottom: 15px;
}

.centerbox > .card > .options > button:last-child {
  margin-bottom: 0;
}
